body {
  background: lightseagreen;
  color: white; }

textarea:focus,
input:focus {
  outline: 0; }

#mygoals input {
  font-size: x-large;
  background: rgba(255, 255, 255, 0.2);
  border: 0px;
  border-bottom: 1px solid #FFF;
  width: 100%;
  padding: 5px; }
#mygoals input:hover {
  border: 0px;
  border-bottom: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.25); }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }

.t-goal-date {
  margin-bottom: 10px;
  height: 25px; }
  .t-goal-date > button {
    margin-left: 10px; }

div.t-action-component > .t-show-on-hover {
  display: none; }
div.t-action-component:hover > .t-show-on-hover {
  display: inline-block; }

.t-entries {
  font-size: large;
  margin-top: 10px; }
  .t-entries > .t-goal-entry {
    line-height: 32px;
    height: 42px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .t-entries > .t-goal-entry > * {
      margin-left: 10px; }
    .t-entries > .t-goal-entry .t-entry-actions {
      margin-top: 2px; }
    .t-entries > .t-goal-entry button {
      display: none; }
    .t-entries > .t-goal-entry.t-done {
      color: rgba(255, 255, 255, 0.5); }
      .t-entries > .t-goal-entry.t-done > .t-text {
        text-decoration: line-through; }
      .t-entries > .t-goal-entry.t-done > .t-date-selector {
        width: 200px;
        display: inline-block;
        font-size: small;
        height: 10px; }
        .t-entries > .t-goal-entry.t-done > .t-date-selector .Select-control {
          padding: 0px; }
          .t-entries > .t-goal-entry.t-done > .t-date-selector .Select-control .Select-placeholder {
            padding: 0px; }
  .t-entries div:hover button {
    display: inline; }

.t-widget {
  background-color: rgba(255, 255, 255, 0.25);
  min-width: 220px;
  height: 150px;
  margin: 0px 10px 10px 0px;
  float: left;
  padding: 15px; }
  .t-widget.big {
    width: 450px; }
  .t-widget > div .value {
    font-size: 70px; }
  .t-widget > div .key {
    font-size: 20px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5); }

button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 14px; }

button:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.t-bottom-actions {
  margin: 15px 10px; }

#header {
  margin: 0; }

.t-entry-notification {
  text-align: center;
  margin: 30px; }
  .t-entry-notification h3 {
    font-weight: 100; }

.navbar {
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.9);
  border: 0px; }

.jumbotron {
  background-color: rgba(255, 255, 255, 0.2); }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 20px; }

.tour-indicator {
  height: 30px;
  width: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #3f94d0;
  cursor: pointer;
  /* Animate */
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: pulse;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-out;
  -o-animation-name: pulse;
  -o-animation-duration: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-out;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out; }

/* WebKit/Safari and Chrome */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  80% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }

  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0; } }
/* Gecko/Firefox */
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.5; }

  80% {
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; }

  100% {
    -moz-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0; } }
/* Presto/Opera */
@-o-keyframes pulse {
  0% {
    -o-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.5; }

  80% {
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0; }

  100% {
    -o-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0; } }
/* Standard */
@keyframes pulse {
  0% {
    transform: scale(0.3);
    opacity: 0.5; }

  80% {
    transform: scale(1.5);
    opacity: 0; }

  100% {
    transform: scale(2.5);
    opacity: 0; } }
.tour-backdrop {
  z-index: 998;
  /* one below z-index of tour-toolip (999) */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.45); }

.tour-tooltip {
  z-index: 999;
  width: 250px;
  background-color: #ffffff;
  color: #545454;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4); }

.tour-tooltip p {
  margin: 5px 3px; }

.tour-tooltip .tour-btn.close:hover {
  border-color: #3f94d0;
  color: #3f94d0; }

.tour-tooltip .tour-btn.close {
  cursor: pointer;
  display: block;
  width: auto;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
  font-size: 14px;
  float: none;
  font-weight: normal;
  text-shadow: none;
  opacity: 1.0; }
