body {
    background: lightseagreen;
    color: white;
}

#view {
    margin: 50px;
}

textarea:focus,
input:focus {
    outline: 0;
}

input {
    font-size: x-large;
    background: rgba(255, 255, 255, 0.2);
    border: 0px;
    border-bottom: 1px solid #FFF;
    width: 100%;
    padding: 5px;
}

input:hover {
    border: 0px;
    border-bottom: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.25);
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }
    :-moz-placeholder {
        @content
    }
    ::-moz-placeholder {
        @content
    }
    :-ms-input-placeholder {
        @content
    }
}

@include placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 100;
}

.t-goal-date {
    margin-bottom: 10px;
    height: 25px;
    > button {
        margin-left: 10px;
    }
}

div.t-action-component {
    > .t-show-on-hover {
        display: none;
    }
    &:hover > .t-show-on-hover {
        display: inline-block;
    }
}

.t-entries {
    font-size: large;
    margin-top: 10px;
    > .t-goal-entry {
        height: 40px;
        margin-top: 10px;
        padding-bottom: 10px;
        // height: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        >* {
            margin-left: 10px;
        }
        > button {
            display: none;
        }
        &.t-done {
            color: rgba(255, 255, 255, 0.5);
            >.t-text {
                text-decoration: line-through;
            }
            >.t-date-selector {
                width: 200px;
                display: inline-block;
                font-size: small;
                height: 10px;
                .Select-control {
                    padding: 0px;
                    .Select-placeholder {
                        padding: 0px;
                    }
                }
            }
        }
    }
    div:hover {
        >button {
            display: inline;
        }
    }
}

.t-widget {
    background-color: rgba(255, 255, 255, 0.25);
    min-width: 250px;
    height: 150px;
    margin: 0px 10px 10px 0px;
    float: left;
    padding: 15px;
    &.big {
        width: 510px;
    }
    > div {
        .value {
            font-size: 80px;
            // margin-top: 20px;
            // position: fixed;
        }
        .key {
            font-size: 20px;
            text-align: right;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 14px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.t-actions {
    .t-action {
        margin: 10px;
    }
}

#header {
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 20px 0;
    padding: 10px;
    .brand {
        font-weight: 100;
        font-size: 30px;
    }
}
