body {
  background: lightseagreen;
  color: white; }

textarea:focus,
input:focus {
  outline: 0; }

#mygoals input {
  font-size: x-large;
  background: rgba(255, 255, 255, 0.2);
  border: 0px;
  border-bottom: 1px solid #FFF;
  width: 100%;
  padding: 5px; }
#mygoals input:hover {
  border: 0px;
  border-bottom: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.25); }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }

.t-goal-date {
  margin-bottom: 10px;
  height: 25px; }
  .t-goal-date > button {
    margin-left: 10px; }

div.t-action-component > .t-show-on-hover {
  display: none; }
div.t-action-component:hover > .t-show-on-hover {
  display: inline-block; }

.t-entries {
  font-size: large;
  margin-top: 10px; }
  .t-entries > .t-goal-entry {
    line-height: 32px;
    height: 42px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .t-entries > .t-goal-entry > * {
      margin-left: 10px; }
    .t-entries > .t-goal-entry .t-entry-actions {
      margin-top: 2px; }
    .t-entries > .t-goal-entry button {
      display: none; }
    .t-entries > .t-goal-entry.t-done {
      color: rgba(255, 255, 255, 0.5); }
      .t-entries > .t-goal-entry.t-done > .t-text {
        text-decoration: line-through; }
      .t-entries > .t-goal-entry.t-done > .t-date-selector {
        width: 200px;
        display: inline-block;
        font-size: small;
        height: 10px; }
        .t-entries > .t-goal-entry.t-done > .t-date-selector .Select-control {
          padding: 0px; }
          .t-entries > .t-goal-entry.t-done > .t-date-selector .Select-control .Select-placeholder {
            padding: 0px; }
  .t-entries div:hover button {
    display: inline; }

.t-widget {
  background-color: rgba(255, 255, 255, 0.25);
  min-width: 220px;
  height: 150px;
  margin: 0px 10px 10px 0px;
  float: left;
  padding: 15px; }
  .t-widget.big {
    width: 450px; }
  .t-widget > div .value {
    font-size: 70px; }
  .t-widget > div .key {
    font-size: 20px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5); }

button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 14px; }

button:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.t-bottom-actions {
  margin: 15px 10px; }

#header {
  margin: 0; }

.t-entry-notification {
  text-align: center;
  margin: 30px; }
  .t-entry-notification h3 {
    font-weight: 100; }

.jumbotron {
  background-color: rgba(255, 255, 255, 0.2); }
